{{ define "main" }}
<section>
  <div class="container mx-auto pt-16 pb-24">
    <div class="lg:w-[768px] text-center mb-24 mx-auto px-0 sm:px-12 lg:px-0">
      <h6 class="text-base font-semibold text-[#072671] mb-3">{{ .Params.title }}</h6>
      <h1 class="text-4xl md:text-5xl font-semibold text-[#101828] mb-6">{{ .Params.subtitle }}</h1>
      <p class="text-xl text-[#475467]">{{ .Params.description }}</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-24">
      {{ range .Pages }}
      <div>
        <img class="mb-5 rounded-xl" src="{{.Params.Image}}" width="100%" height="100%">
        <h6 class="text-sm font-semibold text-[#072671]">{{.Params.Publication}} • {{.Date.Format "2 Jan 2006"}}</h6>
        <a class="flex justify-between items-center my-2" href="{{.Params.Link}}">
          <h4 class="text-2xl font-semibold text-[#101828]">{{.Params.Title}}</h4>
          <i class="text-2xl text-[#101828] fa-solid fa-arrow-right"></i>
        </a>
        <p class="text-base text-[#475467] mb-6">{{.Params.Description}}</p>
        <div class="flex flex-wrap items-center">
        {{ range .Params.Categories }}
          {{ partial "badge.html" (dict "Type" .) }}
        {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="flex flex-wrap justify-between bg-[#F9FAFB] rounded-2xl p-8 md:p-16 gap-4">
      <div>
        <h1 class="text-3xl font-semibold text-[#101828] mb-2">Still have questions?</h1>
        <p class="text-lg text-[#475467]">Can’t find the answer you’re looking for? Please chat to me.</p>
      </div>
      <button class="w-full sm:w-auto bg-[#0A39AA] h-full rounded-md text-base text-white text-md leading-6 px-4 py-3">Get in touch</button>
    </div>
  </div>
</section>
{{ end }}
