<div class="container flex justify-between items-center py-6 mx-auto">
  <h1 class="text-2xl font-semibold">
    <a href="/">{{ site.Params.name }}</a>
  </h1>

  <button id="toggle-button" class="flex justify-center items-center md:hidden border-none w-8">
    <i class="text-xl text-[#344054] fa-solid fa-bars"></i>
  </button>
  {{ with site.Menus.main }}
		<nav class="md:block hidden">
			{{ range . }}
				{{ if $.IsMenuCurrent .Menu . }}
					<a class="text-base font-semibold pl-4 lg:pl-8 hover:text-[#0A39AA] active:text-[#0A39AA]" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
				{{ else }}
					<a class="text-base font-semibold pl-4 lg:pl-8 hover:text-[#0A39AA] active:text-[#0A39AA]" href="{{ .URL }}">{{ .Name }}</a>
				{{ end }}
			{{ end }}
		</nav>
  {{ end }}
  <div id="dialog" class="fixed dialog top-0 -right-[101vw] w-screen h-screen bg-[#0A39AA20] backdrop-blur-sm">
    <div class="relative">
      <div class="dialog-content absolute top-0 -right-full w-[80vw] sm:w-[380px] h-screen bg-[#F9FAFB] transition-all ease-in-out duration-200">
        <div class="flex justify-between items-center p-6">
          <h1 class="text-2xl font-semibold text-[#101828]">
            <a href="/">{{ site.Params.name }}</a>
          </h1>
          <button class="close">
            <i class="fa-solid fa-xmark text-3xl text-[#344054]"></i>
          </button>
        </div>
        <ul class="">
          {{ range site.Menus.main }}
            {{ if $.IsMenuCurrent .Menu . }}
              <li class="px-4 py-2"><a class="text-base font-semibold text-[#101828] pl-4 lg:pl-8 hover:text-[#0A39AA] active:text-[#0A39AA]" aria-current="page" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ else }}
              <li class="px-4 py-2"><a class="text-base font-semibold text-[#101828] pl-4 lg:pl-8 hover:text-[#0A39AA] active:text-[#0A39AA]" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
