{{ define "main" }}
<section>
  <div class="container mx-auto pt-16 pb-24">
    <div class="lg:w-[768px] text-center mb-16 mx-auto px-0 sm:px-12 lg:px-0">
      <h6 class="text-lg font-semibold text-[#0A39AA] mb-3">Published {{ .Params.date }}</h6>
      <h1 class="text-4xl md:text-5xl font-bold text-[#101828] mb-6">{{ .Params.description }}</h1>
      <div class="flex felx-wrap justify-center">
      {{ range .Params.tags }}
        {{ partial "badge.html" (dict "Type" .) }}
      {{ end }}
      </div>
    </div>

    <div class="container mx-auto">
      <img class="mb-24" src="{{ .Params.main_image }}" width="100%" height="100%">
      <div class="contents lg:w-[720px] mx-auto">
        {{.Content}}
        <div class="grid sm:flex justify-center sm:justify-between gap-4 border-t-[1px] border-[#EAECF0] py-6 mb-12">
          <div class="flex items-center">
            <img class="rounded-full" src="{{ .Params.author.image }}" width="{{ .Params.author.image_width }}" height="{{ .Params.author.image_height }}">
            <div class="ml-4">
              <h6 class="text-lg font-semibold text-[#072671]">{{ .Params.author.name }}</h6>
              <p class="text-base text-[#344054]">{{ .Params.author.role }}</p>
            </div>
          </div>
          <div class="flex justify-end h-fit">
            <button class="border border-[#D0D5DD] rounded-md text-sm font-semibold text-[#98A2B3] text-md leading-6 px-2 py-1">
              <i class="text-xl text-[#98A2B3] fa-regular fa-copy"></i> Copy
            </button>
            {{ range .Params.author.shared }}
              <a href="{{ .link }}" class="border border-[#D0D5DD] rounded-md px-2 py-1 mx-2">
                <i class="text-xl text-[#98A2B3] {{ .icon }}"></i>
              </a>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="flex flex-wrap justify-between bg-[#F9FAFB] rounded-2xl p-8 md:p-16 gap-4">
        <div>
          <h1 class="text-3xl font-semibold text-[#101828] mb-2">Still have questions?</h1>
          <p class="text-lg text-[#475467]">Can’t find the answer you’re looking for? Please chat to me.</p>
        </div>
        <button class="w-full sm:w-auto bg-[#0A39AA] h-full rounded-md text-base text-white text-md leading-6 px-4 py-3">Get in touch</button>
      </div>  
    </div>
  </div>
</section>
{{ end }}
