{{ define "main" }}
<section>
  <div class="container mx-auto pt-16 pb-24">
    <div class="lg:w-[768px] text-center mb-24 mx-auto px-0 sm:px-12 lg:px-0">
      <h6 class="text-base font-semibold text-[#072671] mb-3">{{ .Params.title }}</h6>
      <h1 class="text-4xl md:text-5xl font-semibold text-[#101828] mb-6">{{ .Params.description }}</h1>
      <div class="text-xl text-[#475467]">{{ .Content }}</div>
    </div>
    <div class="mb-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8 mx-0 lg:mx-24">
        {{ range .Pages }}
        <div class="border border-1 border-[#A6A8AC] rounded-2xl p-6">
          <h6 class="text-xl font-semibold text-[#101828] mb-2"># {{.Params.Number}}</h6>
          <p class="text-sm font-semibold text-[#072671] mb-2">{{.Params.Position}} • {{.Date.Format "2 Jan 2006"}}</p>
          <h4 class="text-lg font-semibold text-[#101828] mb-2">{{.Params.Title}}</h4>
          <div class="flex items-center">
          {{ range .Params.Files }}
            <a class="text-2xl text-[#072671] mr-2" href="{{.link}}"><i class="{{.icon}}"></i></a>
          {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="talk-bg" style="background-image: url('{{ .Params.image }}'); height: 480px; background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="flex flex-wrap justify-between bg-[#F9FAFB] rounded-2xl p-8 md:p-16 gap-4">
      <div>
        <h1 class="text-3xl font-semibold text-[#101828] mb-2">Still have questions?</h1>
        <p class="text-lg text-[#475467]">Can’t find the answer you’re looking for? Please chat to me.</p>
      </div>
      <button class="w-full sm:w-auto bg-[#0A39AA] h-full rounded-md text-base text-white text-md leading-6 px-4 py-3">Get in touch</button>
    </div>
  </div>
</section>
{{ end }}
